%h2= section_title

.report-container
  %table.table-bordered{ style: "width: 1000px;" }
    %thead
      %th#index{ style: "width: 25px;"}
      %th#symbol{ style: "width: 75px;"} Symbol
      -if columns.include?(:last_trade)
        %th#last-trade.rjust{ style: "width: 100px;"}
      -if columns.include?(:pct_above_52)
        %th#pct-above-52.rjust{ style: "width: 100px;"} % 52+
      -if columns.include?(:gap_percent)
        %th#gap-percent.rjust{ style: "width: 100px;"} % Gap
      -if columns.include?(:change_percent)
        %th#change-percent.rjust{ style: "width: 100px;"} % Change
      -if columns.include?(:volume)
        %th#volume.rjust{ style: "width: 100px;"} Volume (K)
      %th#average-volume.rjust{ style: "width: 100px;"} Avg Vol (K)
      -if columns.include?(:volume_ratio)
        %th#volume-ratio.rjust{ style: "width: 100px;"} Volume Ratio
      %th#short-days-to-cover.rjust{ style: "width: 125px;"} Short Ratio
      %th#short-percent-of-float.rjust{ style: "width: 125px;"} Short % Flt
      %th#float.rjust{ style: "width: 100px;"} Float (M)
      -if columns.include?(:float_percent_traded)
        %th#float-percent.rjust{ style: "width: 75px;"} Float %
      -if columns.include?(:institutional_ownership_percent)
        %th#institutional-ownership-percent.rjust{ style: "width: 75px;"} IO %
    -line_items.each_with_index do |r, i|
      %tr{ id: r['ticker_symbol'] }
        %td= i+1
        %td{ class: set_css_class(r, :symbol) }= "#{r[:symbol]} #{symbol_icon(r[:symbol])}".html_safe
        %td{ class: set_css_class(r, :last_trade) }= r[:last_trade]
        -if columns.include?(:pct_above_52)
          %td{ class: set_css_class(r, :pct_above_52)}= r[:pct_above_52]
        -if columns.include?(:gap_percent)
          %td{ class: set_css_class(r, :gap_percent)}= r[:gap_percent]
        -if columns.include?(:pct_change)
          %td{ class: set_css_class(r, :change_percent) }= r[:change_percent]
        -if columns.include?(:volume)
          %td{ class: set_css_class(r, :volume) }= r[:volume]
        %td{ class: set_css_class(r, :average_volume) }= r[:average_volume]
        -if columns.include?(:volume_ratio)
          %td{ class: set_css_class(r, :volume_ratio) }= r[:volume_ratio]
        %td{ class: set_css_class(r, :short_days_to_cover) }= r[:short_days_to_cover]
        %td{ class: set_css_class(r, :short_percent_of_float) }= r[:short_percent_of_float]
        %td{ class: set_css_class(r, :float) }= r[:float]
        -if columns.include?(:float_percent_traded)
          %td{ class: set_css_class(r, :float_percent_traded) }= r[:float_percent_traded]
        -if columns.include?(:institutional_ownership_percent)
          %td{ class: set_css_class(r, :institutional_ownership_percent) }= r[:institutional_ownership_percent]