!!!
%html
  %head
    %title Momentum Stock Scans
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    :javascript
      $(function() {
          $( "#report_date" ).datepicker();
        });

    = render partial: '/google_analytics'

  %body
    %nav.navbar.navbar-default{ role: "navigation" }
      .container
        %ul.nav.navbar-nav
          %li.active= link_to "Premarket", reports_premarket_path
          %li.active= link_to "Gaps", reports_gaps_path
          %li.active= link_to "Actives", reports_active_path
          %li.active= link_to "52wk", reports_fifty_two_week_high_path
          %li.active= link_to "After Hours", reports_after_hours_path
    .container
      = yield
